body {
  background-color:darkblue; 
}

header {
  background-color: darkred;
  font-size: 100px;
  font-family: fantasy;
  text-align: center;
}

p {
  font-size: 35px; 
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  color: gold;
  
}

#image {
  width: 500px;
  height: 100;
  float: left; 
  margin: 0px 20px 0px 0px;
}

#lists{
  font-style: normal;
  font-size: 30px;
  color: white;
  margin-top: 30px;
  float: right;
  width: 300px;
}

#work{
  font-style: normal;
  font-size: 30px;
  color: white;
  float: left;
  margin-top: 30px;  
}

footer{
  clear: both;
}