body {
  background-color: royalblue; 
}

header {
  font-size: 100px;
}

p {
  font-size: larger; 
  font-family: 'Lucida Sans';  
}


#image {
  width: 500px;
  height: 100;
  border-style: solid;
}
