body {
  background-color:darkblue; 
}

header {
  background-color: darkred;
  font-size: 100px;
  font-family: fantasy;
  text-align: center;
}

p {
  font-size: 36px; 
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  color: gold;
  
}

#image {
  width: 500px;
  height: 100;
  float: left; 
  margin: 0px 20px 0px 0px;
}
